{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "forOf": true,
        "jsx": true,
        "es6": true
    },
    "rules": {
        "comma-dangle": 0,
        "indent": [2, 2, {"SwitchCase": 1}],
        "jsx-quotes": [0, "prefer-single"],
        "func-names": [0],
        "no-alert": 0,
        "no-console": 0,
        "space-before-function-paren": 0,
        "global-require": 0,
        "import/no-unresolved": [2, {
          ignore: ['utils']
        }]
    }
}
